@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {border: 0px lightblue solid;
    margin:1px;}

  body{
    font-family: "Roboto Slab", serif;
  }  

    .main {
      width: 70%;
      margin: 0 auto;
      background: lightblue;
    }
      
    a{
      color: rgb(0, 0, 0);
      font-size: 3vw;
      text-decoration: none;
    }
      
    .box {
      width: 38%;
    }

    .overlap2{
    position: relative;	
      z-index: 1;
      top: -12vw;
      right: 1px;
      color: rgba(0, 0, 0, 0.767);
      background: rgba(192, 141, 0, 0.973);
      height: 100%;
      font-size: 5vw;
      font-family: "Roboto Slab", serif;
    }
      
      nav{
          display: flex;
          justify-content: space-around;
          width: 100%;
          position: sticky;
      top: 0;
        background: lightblue;
        z-index: 2;
      }
      
    .yahoo{
      width: 100%;
    }
    
    h1{
      position: relative;
      z-index: 1;
      right: -20px;
      font-size: 3vw;
    }

    h3{
      position: relative;
      z-index: 1;
      right: -20px;
      font-size: 2vw;
    }

    p{
      font-size: 2vw;
      font-family: "Exo 2", serif;
    }
      
      .pradas{
          display: flex;
          justify-content: space-around;
          width: 100%;
      }
      
      .prada{
          width: 30%;
      }
      
      .pradaImg{
          width: 100%;
      }
      
      .two-piece{
          display: flex;
      }
      .p23{
          width:65%;
          margin: 10px;
      }